@import url('../bower_components/bootstrap/less/bootstrap.less');

.site-header {
  border: 1px solid lightgrey;
}
.site-title {
}
.site-description {
}

.primary {
  float: left;
  width: 800px;
  border: solid 1px darkgray;
}
.main-sidebar {
  float: left;
}
.widget {
  border: solid darkgray 1px;
  margin: 0 0 15px;
  .panel;
  .panel-default;

  .widget-title {
    .panel-heading;
  }
  ul {
    .panel-body;
  }
}

footer {
  clear: both;
  border: 1px solid darkgray;
}