@import url('../bower_components/bootstrap/less/navbar.less');
@import url('../bower_components/bootstrap/less/bootstrap.less');
@icon-font-path: 'bower_components/bootstrap/fonts/';

//.navbar-right {}

.site-header {
  margin-bottom: 50px;

  .site-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
  }
  .site-description {
    font-size: 20px;
  }
  nav {
    ul {
      .current_page_item,
      .current-menu-item {
        background-color: @gray-lighter;
      }
      li {
        a {
          color: @gray-light;
        }
      }
    }
  }
}

article {
  &.home {

  }
  &.post {
    header {
      margin-top: -50px;
      margin-bottom: 50px;
      padding-top: 100px;
      padding-bottom: 80px;
      background-color: @brand-primary;
      color: #ffffff;
      a {
        color: #ffffff;
      }
    }
  }

  p, li {
    font-size: 16px;
    line-height: 1.7em;
  }
  p {
    margin-bottom: 18px;
  }
  header {
    .page-header {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  footer {

  }
  .entry-meta {
    margin-bottom: 15px;
    .date, .categories-links, .tags-links {
      .glyphicon {
        margin-right: 5px;
      }
      margin-right: 15px;
    }
  }
  .entry-summary {
    margin-bottom: 40px;
  }
  .entry-content {
    h1 {
      font-size: 200%;
      color: @gray-light;
    }
  }
}

.main-sidebar {
  .widget {
    ul {
      .panel-body;
      .list-unstyled;
      padding-left: 15px;
    }
    &.widget_search {
      .searchform {
        div {
          .screen-reader-text {
            display: none;
          }
          input[type=text] {
            .form-control;
            vertical-align: middle;
            width: 70%;
            display: inline-block;
          }
          input[type=submit] {
            .btn;
            .btn-primary;
          }
        }
      }
    }
  }
}

footer[role="contentinfo"] {
  padding: 40px 0;
  margin-top: 50px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}